:root {
  --md-sys-motion-duration-short: 200ms;

  --md-sys-motion-duration-medium-1: 250ms;
  --md-sys-motion-duration-medium-2: 400ms;

  --md-sys-motion-easing-emphasized: cubic-bezier(0.25, 0.1, 0.25, 1);

  --md-sys-motion-view-transition-duration: 800ms;
}
