@import "app/styles/motions";
@import "app/styles/sizes";
@import "app/styles/view-transitions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --primary-color: #D90452;
  --primary-color-hsl: hsl(338, 96%, 43%);
  --primary-color-rgb: 217, 4, 82;
  --secondary-color: #591D3E;
  --secondary-color-hsl: hsl(327, 51%, 23%);
  --secondary-color-rgb: 89, 29, 62;
  --error-color: #F21616;
  --warning-color: #F25D07;
  --success-color: #4CAF50;
  --dark-color: #1A2126;
  --dark-color-rgb: 26, 33, 38;
  --light-color: #F2F2F2;
  --white-color: #FFFFFF;
  --white-color-rgb: 255, 255, 255;
  --light-color-rgb: 242, 242, 242;
}

html, body {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, sans-serif;
  background: var(--light-color);
  background: linear-gradient(
                  to bottom,
                  rgba(var(--dark-color-rgb), .6) 0%,
                  rgba(var(--dark-color-rgb), .6) 20%,
                  var(--light-color) 20%,
                  var(--light-color) 100%
  );
}

form {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .actions {
    align-self: flex-end;
    display: flex;
    gap: 1rem;
  }
}

header {
  height: var(--md-sys-size-10);
  padding: var(--md-sys-size-1) var(--md-sys-size-2);
}

header button {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  border: unset;
  view-transition-name: card-detail-back;
}

/*VIEW TRANSTIONS ANIMATIONS*/
::view-transition-image-pair(*) {
  /*= Styles for every instance =*/
  position: absolute;
  inset: 0px;

  /*= Styles generated per instance =*/
  /* Set if there's an old and new image, to aid with cross-fading.
     This is done conditionally as isolation has a performance cost. */
  isolation: isolate;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
