<div class="lt-top-bar">
  <div class="lt-content">
    <img class="lt-logo" alt="" src="../../../assets/logo.svg" />
    <div class="lt-menu">
      <a routerLink="/contributions" routerLinkActive="active">Contributions</a>
      <a routerLink="/conferences" routerLinkActive="active">Conferences</a>
      <a routerLink="/speakers" routerLinkActive="active">Speakers</a>
    </div>
  </div>
</div>

<div class="lt-content main">
  <ng-content></ng-content>
</div>
<div class="lt-footer">
  <div class="lt-content">
    &#169;PJ-Angular
  </div>
</div>
