:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  overflow: hidden;
}

.lt-top-bar {
  height: 96px;
  width: 100%;
  display: flex;
  justify-content: center;

  .lt-content {
    display: flex;
    align-items: center;
    gap: 2rem;


    .lt-logo {
      height: 64px;
      border-radius: 100vh;
    }

    .lt-menu {
      display: flex;
      gap: 1rem;

      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--light-color);

        @media (hover) {
          &:hover:not(.active) {
            text-decoration: underline;
          }
        }

        &.active {
          color: rgba(var(--light-color-rgb), .6);
        }
      }
    }
  }
}

.lt-content {
  width: 70vw;

  &.main {
    flex: 1;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    overflow: auto;
    scroll-padding: 2rem;
  }

  @media (max-width: 1079px) {
    width: 100%;
    padding: 0 2rem;

    &.main {
      padding: 2rem;
    }
  }
}

.lt-footer {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: var(--dark-color);
  color: var(--light-color);

  .lt-content {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
  }
}
