:host {
  background-color: var(--dark-color);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 2rem .75rem;
}

.logo {
  height: 4rem;
  background: url('/assets/logo_4.png');
  background-size: contain;
  margin-bottom: 1.5rem;
}
